body{
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(60, 144, 240);
}

#gameContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#computerDiv {
    width: 500px;
    height:500px;
}

.squares {
    height:30px;
    width:30px;
    background-color: rgb(24, 24, 24);
}

